* {
    padding: 0px;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #D1F2EB;
}

/*      --CONTAINERS--     */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    background-color: #D1F2EB;

    /*Only during test*/
    height: 750px;
}

#calc {
    width: 400px;
    background-color: white;
    border-radius: 15px;
}

/*      --DISPLAY--     */
#display {
    margin: 20px;
    height: 118px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#display-first-line {
    background-color: white;
    height: 50px;
    opacity: 0.5;
    font-weight: 700;
    font-size: 20px;
    max-width: 350px;
    overflow: auto;
}

#display-second-line {
    background-color: white;
    height: 85px;
    font-weight: 700;
    font-size: 40px;
    max-width: 350px;
    overflow: auto;
}


/*      --KEYS--     */
#keys {
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 20px;
    height: 500px;
}

.button {
    font-weight: 400;
    font-size: 20px;
    border-radius: 50%;
    height: 80px;
    width: 80px;

    border: none;
    text-decoration: none;
    outline-style: none;
}

.button-number {
    background-color: #fff;
}
.button:active {
    background-color: #b2b2b2;
}

.button-empty {
    visibility: hidden;
}

#button-divide {
    background-color: #1ABC9C;
    font-size: 28px;
}
#button-divide:active {
    background-color: #12836d;
}

#button-multiply {
    background-color: #F5B041;
    font-size: 28px;
}
#button-multiply:active {
    background-color: #ab7b2d;
}

#button-substract {
    background-color: #EC7063;
    font-size: 40px;
}
#button-substract:active {
    background-color: #a54e45;
}

#button-additon {
    background-color: #5DADE2;
    font-size: 28px;
}
#button-additon:active {
    background-color: #41799e;
}

#button-equal {
    background-color: #A569BD;
    font-size: 28px;
}
#button-equal:active {
    background-color: #734984;
}

.button-other {
    background-color: #eee;
}
.button-other:active {
    background-color: #a6a6a6;
}
