/* --        VARIABLES        -- */
:root {
    --global-color: #045452;
}


/* --        GENERAL PROPUSE        -- */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}
*:focus {
    outline: none;
}
body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    background: #222;
}


/* --        HEADER       -- */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    background-color: var(--global-color);
    color: white;
    font-weight: 700;
    font-size: 2rem;
}


/* --       STATUS BAR        -- */
.statusBar {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.statusBar-result {
    margin: 0vh 5vh 0vh 5vh;
    font-size: 1.5rem;
    text-align: center;
}
.statusBar-btn {
    padding: 1vh;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
    width: 25vw;
    height: 100%;
    min-height: 100%;
    transition: 0.5s;
}
.statusBar-btn:hover {
    background-color: var(--global-color);
    color: white;
}
.statusBar-btn-pressed {
    background-color: var(--global-color);
    color: white;
}
.statusBar-btn, .statusBar-result, .statusBar-dificult{
    flex: 1;
}

/* --       BOARD      -- */
.board {
    display: flex;
    justify-content: center;
    align-items: top;
    vertical-align: top;
}
.square-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    margin-top: 1vh;
    flex-basis: 65%;
}
.square {
    margin: 1.5vw;
    width: 19vh;
    height: 19vh;
    border-radius: 2rem;
    background-color: #009c8c;
}

/* --       LOW RESOLUTION SUPPORT      -- */
@media(max-width: 600px) {
    header {
        font-size: 1.5rem;
    }
    .statusBar-result {
        font-size: 1.3rem;
    }
    .statusBar-btn {
        font-size: 1.3rem;
    }
    .square {
        width: 15vh;
        height: 15vh;
    }
}